.git
.github
.claude
.junie
.next
.vscode
build/
data/
output/
contracts/
linode/
frontend/
desktop/
saas/

**/node_modules
**/.next
**/__pycache__

.env.*
*.exe
*.stackdump
*.sql

apps/
assets/
charts/
config/
doc/
examples/
migrations/
prompts/
scripts/
utils/
evans/
testdata/
